* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    
}

.article-item {
    list-style: none;
    width: 450px;
    display: inline-block;
    margin-bottom: 25px;
    margin-right: calc(960 - 450 * 2 - 8px);

}

.img, .img-name, .article-name {
    margin-bottom: 20px;
}