* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.wrapper{
    width: 1110px;
    margin: 0 auto;
}
.header{
    height: 100px;
    margin-bottom: 60px;
}

.logo {
    float: left;
    text-decoration: none;
    font-family: "Open Sans";
    color: #110000;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    text-indent: 22px;
    padding-top: 30px;
   }


.logo::first-letter {
    font-family: "Open Sans";
    color: #1abc9c;
    font-weight: 600;
}

.nav-menu {
    float: right;
    padding-top: 44px;
   }

.nav-list {
    min-width:  490px;  
}


.nav-list-item {
        float: left;
        list-style: none;
    }

.nav-list-item:not(:last-child) {
         margin-right: 30px;
        } 

.nav-link {
    text-decoration: none;
    margin-right: 0;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    color: #110000;
    display: block;     
}

.nav-link:hover {
    color: #1abc9c;
    cursor: pointer;
}         

.product-title, .title_news {
text-decoration: none;
font-family: "Roboto", sans-serif;
font-size: 36px;
color: #515151;
font-weight: 900;
text-align: center;
margin-bottom: 130px;
}

.product-title::after, .title_news::after {
    content: "";
    border-bottom: 5px solid #1abc9c;
    width: 160px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    }    

.product-item {
    margin: 0 30px 30px 0;
    list-style: none;
    float: left;
}
.product-item:nth-child(4n+4){
    margin-right: 0;
}


.product_item_info{
width: 255px;
height: 40px;
line-height: 40px;
font-family: "Roboto", sans-serif;
font-size: 18px;
font-weight: 900;
text-transform: uppercase;
color:white;
}

.product-item:hover .product-name{
    background-color: #1abc9c;
cursor: pointer;
}

.product-item:hover .price{
    background-color: #7fd9c7;
    cursor: pointer;
}


/* .opacity {
    background-color: rgba( 255,255,255, .45);
    width: 54px;
    height: 40px;
    margin-left: 201px;
} */
.product-item {
    width: 255px;
    height: 322px;
}

.product-photo {
    vertical-align: bottom;
    line-height: 0;
}

.product-name{
    float: left;
    padding-left: 12px;
    background-color: #323232;
    width: 201px;
}
.price {
    float: right;
    text-align: center;
    background-color: #8c8c8c;
    width: 54px;
    } 

.product {
    margin-bottom: 105px;
}

.news-item {
    list-style: none;
    float: left;
    margin: 0 30px 30px 0;
    width: 350px;
    padding-bottom: 35px;
}

.news-item:last-child{
    margin-right: 0;
}

.news-title {
    font-family: "Open Sans";
    font-size: 18px;
    margin-bottom: 30px;
}
.news-title::after{
    content: "";
    border-bottom: 5px solid #1abc9c;
    width: 160px;
    display: block;
    margin-top: 10px;
}
.news-text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 15px;
    padding: 5px;
}

.link_read_more {
    text-decoration: none;
    display: block;
    background-color: #1abc9c;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 160px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
   
}
.news-item:hover .link_read_more{
    background-color: #ffffff;
    color: #44a690;
    border-color: #4ec6ab;
    border-width: 2px;
    -webkit-box-shadow: 0px 0px 50px -3px rgba(78,198,171,1);
    -moz-box-shadow: 0px 0px 50px -3px rgba(78,198,171,1);
    box-shadow: 0px 0px 50px -3px rgba(78,198,171,1);
    cursor: pointer;
    font-weight: 600;
}

.news-item:hover{
    cursor: pointer;
    -webkit-box-shadow: 4px 5px 5px 0px rgba(26,188,156,1);
    -moz-box-shadow: 4px 5px 5px 0px rgba(26,188,156,1);
    box-shadow: 4px 5px 5px 0px rgba(26,188,156,1);
}